@import "tailwindcss";

@theme {
  --container-container: 1400px; 
    --font-pop: "Poppins", sans-serif;
  
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

@media (max-width: 1023px) {
  html {
    scroll-padding-top: 80px;
  }
}

